@mixin backgroundImage($url, $size){
  background: url($url) center no-repeat;
  background-size: $size;
}

@mixin button($color, $border, $background, $rotate){
  @if $border{
    border: solid #aeaeae 2px;
  }
  @if $rotate{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }
  border-radius: 30px;
  color: $color;
  background: $background;
  padding: 15px 45px 15px 30px;
  width: auto;
}

@mixin title($size,$color, $margin, $padding){
  @if $margin{
    margin: $margin;
  }
  @if $padding{
    padding: $padding;
  }
  @if $size{
    font-size: $size;
  }
  width: 100%;
  color: $color;
}